/* .ofisin-main-header{
    min-height: 285px;
    background: rgb(34,95,95);
    background: linear-gradient(90deg, rgba(34,95,95,1) 0%, rgba(25,64,64,1) 0%, rgba(1,40,46,1) 50%); 
}
.ofisin-main{
    transform: translateY(-110px);
    z-index: 1;
} */
/* overwrite navbar START*/
.ofisin-main-navbar{
    background:transparent;
}
/* overwrite navbar END*/

/* project header START*/
.project-header,
.project-detail,
.customer-detail,
.add-offer-parent{
    box-shadow: 0 10px 20px #0000000f,0 2px 6px #0000000f,0 0 1px #0000000f;
    background-color: #fff;
    text-transform: capitalize;
}
.project-header h1,
.project-header h2,
.customer-detail h2{
    font-weight: 400;
    color: var(--purple-color);
    font-size: 1.9rem;
}
.project-header strong{
    opacity: 80%;
}

.project-header p,
.list-offers-btn {
    color: #3F3D56;
    font-size: .9rem;
}
.project-header p span{
    color: #077E6E;
    background-color: #C9EEE9;
    font-weight: 500;
    cursor: pointer;
}
.project-bookmark svg{
    font-size: 1.2rem;
}

/* project header END*/

/* project details START*/
.project-detail h4,
.project-detail h6,
.customer-detail h4,
.add-offer-parent h4{
    font-weight: 400;
    opacity: 80%;
    color:  var(--green-dark-color);
}
.project-detail p,
.offer p{
    color: var(--purple-color);
    opacity: 85%;
}
.skill{
    cursor: pointer;
    color: var(--purple-color);
    border:1px solid #B9B9B9;
    font-size: .8rem;
    font-weight: 400;
}

.user-pic{
    cursor: pointer;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-image: url(../img/profile.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.number-of-reviews{
    font-size: .8rem;
}
.customer-detail h6{
    color: var(--purple-color);
}
h6 a{
    text-decoration: none;
}
h6 a:hover{
    text-decoration: underline;
}
.customer-detail p,.verified-icons{
    cursor: pointer;
    color: #3F3D56;
    opacity: 80%;
    font-size: 1rem;
}
.customer-detail p span{
   vertical-align: middle;
}

.verified-icons svg{
    margin: 0px 5px;
}
.verified{
    color: var(--green-color);
}
/* project details END*/

/* add offer START*/
.add-offer-box input{
    padding-right: 40px;

}
.add-offer-box textarea{
    min-height: 90px;
    max-height: 400px;
}
/* .list-offers-btn {
    border: 1px solid #B9B9B9;
    cursor: pointer;
    background: transparent;
}
.list-offers-btn  span{
   font-weight: 200;
   color: var(--purple-color);
} */
.offer .rating{
    margin-bottom: -7px;
}
.offer .rating:not(:checked) > label:before {
  font-size: 13px; 
}

.project-image ,
.offer-image{
    max-width: 100px;
    cursor: pointer;
}