
.wallet,
.wallet-chart{
    box-shadow: 0 10px 20px #0000000f,0 2px 6px #0000000f,0 0 1px #0000000f;
    background-color: #fff;
    text-transform: capitalize;
    overflow: hidden;
    cursor: pointer;
}
.wallet-profile-pic{
    height: 50px;
    min-width: 50px;
    background: black;
    background: url(../img/profile.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 50%;
}
.wallet-btn{
    background-color: #fff;
    font-size: 1.3rem;
}

.wallet-info p{
    color: #908F94;
}

.wallet-info h1 span{
    font-size: 1.5rem;
}
.wallet-info div:first-child h1{
    background: -webkit-linear-gradient(45deg, rgba(8,116,102,1) 15%, rgba(9,236,222,1) 100%, rgba(9,236,222,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.wallet-info div:last-child h1{
    color: #100F12;
}
.wallet-info div:last-child span{
    color: #908F94;
}
.wallet-actions::before{
    content: "";
    position: absolute;
    top: 0;
    width: 70%;
    height: 1px;
    background:#000000 ;
    opacity: 9%;
}
.wallet-actions div:first-child button{
    background-color: #e7eeee;
    padding: 2px 15px;
    color: #4c8e99;
    border: 2px solid #d3dfe4;
}
.wallet-actions div:first-child button:hover{
    color: #086674;
 }
.wallet-actions div button{
    border: none;
    text-transform: capitalize;
 }
.wallet-actions div:first-child button span{
   color: #086674;
}
.wallet-actions div:last-child button{
    padding: 5px 15px;
    color: #f09c90;
}
.wallet-actions div:last-child button:hover{
    padding: 5px 15px;
    color: #ED7561;
}
.wallet-actions div:last-child button div{
   color: #086674;
   width: 35px;
   height: 35px;
   border-radius: 50%;
   background-color: #ffe7e3;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   -ms-border-radius: 50%;
   -o-border-radius: 50%;
}


/* wallet actions */
.wallet-actions-parent h4{
    text-transform: capitalize;
}
.wallet-action {
   border-bottom: var(--bs-border-width) solid var(--bs-border-color);
}
.wallet-action .wallet-profile-pic{
    height: 70px;
    min-width: 70px;
}
.wallet-action .action-title{
    text-transform: capitalize;
    padding-top: 15px;
}
.wallet-action .action-title a{
    text-decoration: none;
}
.wallet-action .action-title a:hover{
    text-decoration: underline;
}
.action-amount p{
    color:#908F94 ;
}
.action-amount .withdraw{
    color: #E65540 ;
}
.action-amount .withdraw::before{
    content: "\2212";
}
.action-amount .deposit{
    color: #4C8E99 ;
}
.action-amount .deposit::before{
    content: "\002B";
}